:root {
    --primary-color: #3B577D;
    --secondary-color: #C0D9E5;
    --accent-color: #44679F;
    --background-color: #ffffff;
    --text-color: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    padding-top: -10px;
}

.navbar {
    background-color: var(--primary-color) !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
    color: white !important;
    font-weight: 1000;
    letter-spacing: 0px;
}

.nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--accent-color) !important;
}

section {
    padding: 100px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home {
    background-color: var(--background-color);
}

#our-work {
    background-color: var(--primary-color);
    
}
#our-work-h2 {
    color: var(--background-color);
}

#testimonials {
    background-color: var(--background-color);
}

#request-budget {
    background-color: var(--secondary-color);
}

#contact {
    background-color: var(--background-color);
}

h1, h2, h3 {
    color: var(--text-color);
    font-weight: 1000;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--accent-color);
    border-color: var(--primary-color);
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.5s ease;
    margin: 5px;
}

.card:hover {
    transform: translateY(-5px);
}

.project-card .card-body {
    background-color: white;
    color: var(--text-color);
    padding: auto;
    margin: 30px;
    border-radius: 10px;
}

.testimonial-card .card-body {
    position: relative;
    background-color: white;
    padding: auto;
}

.testimonial-card .card-body::before {
    font-size: 5rem;
    color: var(--text-color);
    opacity: 0.2;
    position: absolute;
    top: -20px;
    left: 20px;
}

#budget-form {
    max-width: 6000px;
    margin: 0 auto;
    align-items: flex-start;
}

#budget-form .form-control {
    background-color: rgba(248, 248, 248, 0.74);
    border: rgb(3, 2, 2);
    color: rgb(0, 0, 0);
}

#budget-form .form-control::placeholder {
    color: rgba(185, 173, 173, 0.6);
}

footer {
    margin-top: auto;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
}

.social-icon {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: var(--accent-color);
}